.img-responsive{
    width: 130px !important;
    height: 30px;
    margin-bottom: 10px !important;
}

.form-floating mb-4, .form-control{
    border: none !important;
    border-bottom: thin solid rgb(230, 230, 230) !important;
}

.col{
    color: rgb(186, 48, 48) !important;
}

.btn-primary {
    background-color: rgb(186, 48, 48) !important;
}

.form-label{
    background-color: white !important;
    width: 90%;
    height: 27px;
}

.form-select{
    border: none !important;
    border-bottom: thin solid rgb(230, 230, 230) !important;
    cursor: pointer !important;
}

.form-select:focus{
    box-shadow: none !important;
}

#data{
    cursor: pointer !important;
}

.form-check-label{
    margin-bottom: 10px;
}

.page-title{
    padding: 3%;
    color: rgb(186, 48, 48) !important;
    text-align: center !important;
}

footer{
    background-color: rgb(186, 48, 48) !important;
    margin-bottom: 0 !important;
}

#submit{
    font-size: 89% !important;    
}

.text-center{
    padding: 32px;
}